<!DOCTYPE html>
<!-- saved from url=(0046)https://semantic-ui.com/examples/homepage.html -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Login</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <link rel="stylesheet" href="/css/menu.css"/>
    <script src="/js/menu.js"></script>

    <style type="text/css">

      .grid{
          width: 40%!important;
          height: 100%; 
      }
      @media only screen and (max-device-width: 700px) {
        .grid{
            width: auto !important;
        }
      }
      
    </style>

  </head>
  <body class="pushable">

    <%- include('home_header', {selected: 'home'}); %>

    <div class="pusher">

      <div class="ui middle aligned center grid" >
        <div class="row" >
          <form class="ui form <%= locals.error? 'error':'' %>" action="/login" method="POST" enctype="application/json">
            <div class="ui segments">
              <div class="ui secondary segment">
                <h1 style="text-align: center;color: #b35718;">Log-in</h1>
              </div>
              <div class="ui segment">
                <div class="field <%= (locals.error && error.mobile)? 'error':'' %>">
                  <div class="ui left icon large input">
                      <i class="mobile icon"></i>
                      <input type="text" name="mobile" placeholder="Mobile" value='<%= mobile %>'>
                  </div>
                  <%if(locals.error && error.mobile){%> <div class="ui pointing red basic label"><%= error.mobile %></div><%}%>
                </div>
                <div class="field <%= (locals.error && error.password)? 'error':'' %>">
                  <div class="ui left icon large input">
                      <i class="lock icon"></i>
                      <input type="password" name="password" placeholder="Password">
                  </div>
                  <%if(locals.error && error.password){%> <div class="ui pointing red basic label"><%= error.password %></div><%}%>
                </div>
              </div>
              <div class="ui secondary clearing segment">
                <div class="ui right floated buttons">
                  <a class="ui button negative" href="/home">Cancel</a>
                  <div class="or"></div>
                  <button class="ui positive button">Login</button>
                </div>
              </div>
              <div class="ui secondary segment">
                <i class="warning icon"></i>
                <span>New to us? </span>
                <a href="/register">Register here</a>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

    <div class="ui  inverted dimmer">
      <!-- active -->
      <div class="ui text loader">Loading</div>
    </div>

    <script>
      $( document ).ready(function() {
          
          $('form button').click(function (e) { 
            $('.ui.dimmer').dimmer('show');
        });   
          
      });
    </script>

  </body>
</html>
